<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>insertTopic</servlet-name>
    <servlet-class>bbs.serverlet.insertTopic</servlet-class>
  </servlet>
  
	<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>loginSer</servlet-name>
    <servlet-class>bbs.serverlet.loginSer</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>indexSer</servlet-name>
    <servlet-class>bbs.serverlet.indexSer</servlet-class>
  </servlet>
  
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>detailsSer</servlet-name>
    <servlet-class>bbs.serverlet.detailsSer</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>replySer</servlet-name>
    <servlet-class>bbs.serverlet.replySer</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>insertReplySer</servlet-name>
    <servlet-class>bbs.serverlet.insertReplySer</servlet-class>
  </servlet>

 <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>insertDate</servlet-name>
    <servlet-class>bbs.serverlet.insertDate</servlet-class>
  </servlet>
  
   <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>commentSer</servlet-name>
    <servlet-class>bbs.serverlet.commentSer</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>insertTopic</servlet-name>
    <url-pattern>/insertTopic</url-pattern>
  </servlet-mapping>
  
	<servlet-mapping>
	    <servlet-name>loginSer</servlet-name>
	    <url-pattern>/loginSer</url-pattern>
	  </servlet-mapping>
	  
  <servlet-mapping>
    <servlet-name>indexSer</servlet-name>
    <url-pattern>/indexSer</url-pattern>
  </servlet-mapping>

   <servlet-mapping>
    <servlet-name>detailsSer</servlet-name>
    <url-pattern>/detailsSer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>replySer</servlet-name>
    <url-pattern>/replySer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>insertReplySer</servlet-name>
    <url-pattern>/insertReplySer</url-pattern>
  </servlet-mapping>

 <servlet-mapping>
    <servlet-name>insertDate</servlet-name>
    <url-pattern>/insertDate</url-pattern>
  </servlet-mapping>

<servlet-mapping>
    <servlet-name>commentSer</servlet-name>
    <url-pattern>/commentSer</url-pattern>
  </servlet-mapping>




</web-app>